.picture-header {
    margin-left: 20px;
    margin-right: 80px;
}

.name-header {
    margin-right: 30px;
}

.popularity-header {
    margin-left: 50px;
}

thead tr {
    display: flex;
    justify-content: center;
    width: 400px;
}
