figure {
    margin: 0;
    width: 75px;
}

img {
    width: 100%;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.row-elm {
    margin: 0 30px;
}